<p style="color: green"><%= notice %></p>




<div class="container ">

  <div class="row mt-5">
    <% @movies.each do |movie| %>
      <%= render movie %>
      <p>
        <%= link_to "Show this movie", movie, class:"btn btn-outline-light  border rounded-pill mt-4 btn-outline" %>
      </p>
      </div>
    <% end %>
    
  </div>
 
  </div>

