<div class="container ">
  
  <div class="mt-4 d-flex justify-content-center">
  <h2 class="text-white mb-2">Movies <%=link_to @user.email%> want's to see</h2>
   <%= paginate @movies %>
  </div>
  <div class="row mt-5">
    <% @movies.each do |movie| %>
      
      <%= render movie %>
      
      <% end %>
    
  </div>
  <div class="d-flex justify-content-center">
    <%= paginate @movies %>
  <div>
  </div>
