<div class="container mt-5">
  <table class="table table-striped table-light">

    <tr>
      <th>Email</th>
      <th>Role</th>
      <th>Ban</th>
      <th></th>
      <th></th>
    </tr>


  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.email %></td>
        <td><%= user.role %></td>
        <td>false</td>
        <td><%= link_to "Ban this account", ban_account_admin_users_path(user),method: :post, class:"btn btn-primary" %></td>
        <td><%= button_to "Delete this account" %></td>
      </tr>
    <% end %>
  </tbody>
  </table>
</div>