<nav class="navbar navbar-expand-lg navbar-dark shadow-5-strong border border-white rounded-3 mb-3">
  <div class="container-fluid">
    <%= link_to "MovieBuddy", root_path, class: "navbar-brand" %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
            <%= link_to "Home", movies_path, class: "nav-link active" %>
        </li>
      </ul>
      <ul class="navbar-nav mb-2 mb-lg-0 pe-5">
        <% user_signed_in? %>
          <div class="btn-group dropleft">
            <a class="nav-link active bi bi-person-circle pe-2" data-bs-toggle="dropdown" aria-expanded="false"></a>
            <ul class='dropdown-menu' >
              <li><a class="dropdown-item" href="#">Edit Account</a></li>
              <% if current_user.admin? %>
              <li><%= link_to "Admin Panel", admin_users_path, class: "dropdown-item" %></li>
              <% end %>
            </ul>
          </div>
          <li class="nav-item">
            <%= button_to "Logout", destroy_user_session_path, method: :delete, data: {turbo: false}, class: "btn btn-outline-light" %>
          </li>
      </ul>
      <%%>
    </div>
  </div>
</nav>
